bin/*

.fake
.ionide
.ionide/**
*/**/.ionide
*/**/.ionide/**
.idea
**/obj/*
packages
**/**/GenericTextOnly*.ok
**/bin/*
**/**/*.~
*/*.~
.idea/**
.gitignore~
..gitignore.un~
.*~
*/**/*~
*/**/GenericTextOnly*.txt
 
