<?xml version="1.0" encoding="utf-8"?>
<configuration>
<appSettings>
  <add key="hostAddress" value="192.168.1.189:8083" />
  <add key="print" value="true" />
  <add key="printcommand" value="/usr/bin/lpr" />
  <add key="inAddIngredientAdjustPrice" value="true" />
  <add key="inRemoveIngredientAdjustPrice" value="true" />
  <add key="localization" value="it" />
  <add key="ecrFilePath" value="/Users/Tonyx/ecr.txt" />
  <!-- <add key="ecrFilePath" value="C:\\Users\\Tonino\\ecr.txt" /> -->

</appSettings>
<runtime><assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
  <dependentAssembly>
    <Paket>True</Paket>
    <assemblyIdentity name="FSharp.Core" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="4.5.0.0" />
  </dependentAssembly>
</assemblyBinding></runtime></configuration>

